{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="container col-xl-12 col-xl-10 col-xxl-8 px-4 py-5">


    <div class="col-md-10 mx-auto col-lg-5">
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
            {% csrf_token %}
            {{ form|crispy }}
            <br><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
            <hr class="my-4">
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar Com o Google</button>
        </form>
    </div>
</div>
</div>
{% endblock %}