.cont-detail {
    margin-top: 3rem;
    padding-left: 0;
    padding-right: 0;
}

.cont-infos-detail {
    margin-top: 1rem;
    padding: 10px;
    background-color: #90ccfa94;
}

.text-description-detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text-infos-detail {
    margin-top: 1rem;
    text-align: justify;
    padding-right: 20px;
}

@media screen and (max-width: 767px) {
    .text-description-detail {
        flex-direction: column;

    }

    .cont-infos-detail {
        width: 100%;
    }

    .text-infos-detail {
        width: 100%;

    }

    .cont-detail {
        width: 100%;
    }
}