.bg-dark {
    background-color: #90ccfa94 !important;
}

.text-white {
    color: #000 !important;
}

.btn-outline-light {
    color: #000000;
    border-color: #000000;
}

.text-white:hover {
    color: rgba(0, 0, 0, 0.377) !important;
}

#logo-estour {
    margin-right: 15px;
    max-height: 12%;
    max-width: 12%;
    min-width: 10%;
    min-height: 10%;
}