.bg-dark {
    background-color: #90ccfa94 !important;
    border-color: #00000025 !important;

}

.text-white {
    color: #000 !important;
}


.text-white:hover {
    color: rgba(0, 0, 0, 0.377) !important;
}

#logo-estour {
    margin-right: 15px;
    max-height: 12%;
    max-width: 12%;
    min-width: 10%;
    min-height: 10%;
}

.btn-header,
.btn-header-cad {
    border-color: #00000025 !important;
    color: #000 !important;
}

.btn-header:hover {
    background-color: #90ccfa94 !important;
    color: #000 !important;
}

.btn-header-cad:hover {
    background-color: #90ccfa94 !important;
    color: #000 !important;
}