header {
    background-color: #64b4f075;
}


li {
    list-style: none;
}

a {
    color: #464646;
    text-decoration: none;
}

.nav-item a {
    color: #000;
}

.navbar-header {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 0;
}

.nav-branding {
    font-size: 1.5rem;
    margin-right: 20px;
}

.nav-branding img {
    max-height: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-link {
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
    color: #64b3f0;
}

.nav-link:hover {
    color: #fff;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    color: #fff;
    background-color: #ffaec8;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    width: 200px;
    margin-right: 10px;
    outline: none;

}

.search-box-ul {
    display: none;
}

.search-box {
    display: flex;
}

.btn-seach {
    background-color: #ffaec8;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    font-size: 1rem;
    width: 50px;
    cursor: pointer;
}

.social-links {
    background-color: #ffaec8;
}

.social-links-ul {
    display: flex;
    justify-content: right;
}

.social-links-ul li {
    padding: 0 5px;
}

.social-links-ul li:last-child {
    padding-right: 15px;
}

.user-login-ul {
    display: none;
}

@media (max-width: 1453px) {
    .nav-menu {
        gap: 20px;
    }

    .nav-branding {
        font-size: 1rem;
    }

    .nav-link {
        transition: all 0.2s ease-in-out;
        font-size: 1rem;
    }
}

@media (max-width: 1238px) {
    .nav-menu {
        gap: 10px;
    }
}

@media (max-width: 1197px) {

    .hamburger {
        display: block;
    }

    .search-box {
        display: none;
    }

    .nav-branding {
        align-items: center;
        justify-content: center;
    }

    .navbar-header {
        justify-content: space-between;
    }



    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 109px;
        gap: 0;
        flex-direction: column;
        background-color: #64b4f075;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }

    .search-box-ul {
        display: flex;
        flex-direction: column;
    }

    .search-input-ul {
        padding: 5px;
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        width: 200px;
        outline: none;
        margin-bottom: 5px;
    }

    .btn-seach-ul {
        background-color: #ffaec8;
        border: none;
        color: #fff;
        padding: 5px;
        border-radius: 15px;
        font-size: 1rem;
        width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .btn-seach-ul:hover {
        background-color: #ffaec88a;
        cursor: pointer;
    }


    .nav-menu.active {
        left: 0;
    }

    .user-login {
        display: none;
    }

    .user-login-ul {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .user-login-ul a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}