@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;

}

.cont-commentarios {
    margin-top: 300px;
}

@media screen and (max-width: 991px) {
    .cont-commentarios {
        margin-top: 200px;
    }
}

@media screen and (max-width: 766px) {
    .cont-commentarios {
        margin-top: 120px;
    }
}