{% load static %}
<section>
<div class="container container-style">
    <div class="row">
        <h2 class="categorias-h2"> Categorias</h2>
        {% for categorie in categories %}

        <div class="col-3 grid card-style">
            {%if categorie.image%}
            <img src="{{categorie.image.url}}" alt="{{categoria}}" class="img-fluid rounded mx-auto ">
            {%else%}
            <img src="{% static 'images/no_image400x300.png' %}" alt="{{categoria}}" class="img-fluid rounded mx-auto ">
            {%endif%}
        </div>
        {%if forloop.counter == 4%}
        
        {% endif %}
        {% endfor %}
    </div>
</div>
</section>