{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/header.css' %}">
{% endblock style %}

<header class="p-3 bg-dark text-white ">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'pages:home' %}" id="logo-estour"
                class="d-flex align-items-center text-white text-decoration-none">
                <img src="{% static 'images/logo.png' %}" alt="ESTour" class="img-fluid">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'pages:home' %}" class="nav-link px-2 text-white">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Destaques</a></li>
                <li><a href="{% url 'places:list' %}" class="nav-link px-2 text-white">Categorias</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Sobre Nós</a></li>
                {% if user.is_authenticated %}
                <li><a href="#" class="nav-link px-2 text-white">Favoritos</a></li>
                {%if user.is_superuser%}
                <li><a href="{% url 'admin:index' %}" class="nav-link px-2 text-white">Admin</a></li>
                {%endif%}
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search">
            </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light me-2">Sair</a>
                </form>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-outline-light me-2">Login</a>
                <a href="{% url 'account_signup' %}" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>