{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/home.css' %}">
{% endblock style %}

{% block title %}
ESTour
{% endblock title %}

{% block body %}
{% include 'pages/includes/corrocel.html' %}
{% endblock body %}

{% block content %}

{% include 'pages/includes/categorias.html' %}
{% include 'pages/includes/destaques.html' %}

<section class="main-mapa-interativo">
    <h1>Aqui vem um mapa de verdade</h1>
</section>
</main>
{% endblock content %}