{% extends 'base.html' %}

{% load static %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/categorias.css' %}">

{% endblock %}

{% block title %}
ESTour
{% endblock title %}

{% block body %}
{% include 'pages/includes/corrocel.html' %}
{% endblock body %}

{% block content %}
<br>
{% include 'pages/includes/categorias.html' %}

{% include 'pages/includes/destaques.html' %}
<br>
{% include 'pages/includes/footer.html' %}
</main>
{% endblock content %}