{% load static %}

{% load i18n %}

<header>
    <div class="social-links">
        <ul class="social-links-ul">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
        </ul>
    </div>
    <nav class="navbar-header">

        <div class="user-login-ul">
            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">

                <i class="fas fa-user-circle fa-2xl"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_superuser %}
                <li><a class="dropdown-item nav-item" href="#">Admin</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% endif %}

                <li><a class="dropdown-item nav-item" href="{% url 'account_logout' %}">Sair</a></li>
            </ul>
            {% else %}
            <a href="{% url 'account_login' %}" class="nav-link nav-item">
                <i class="fas fa-user-circle fa-2xl"></i>
                <span>Entrar</span>
            </a>
            {% endif %}
        </div>
        <a href="#" class="nav-branding">
            <img src="{% static 'img/logo.png' %}" alt="ESTour">
        </a>

        <ul class="nav-menu">

            <li class="nav-item">
                <a href="#" class="nav-link">Destaques</a>

            </li>
            <li class="nav-item">

                <a href="#" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Lugares Para Visitar</a>

            </li>
            <li class="nav-item">

                <a href="#" class="nav-link">Mapas</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">

                <a href="#" class="nav-link">Meus Favoritos</a>
            </li>
            {% endif %}
            <div class="search-box-ul">
                <input class="search-input-ul" type="text" placeholder="Esta procurando o que?">
                <button class="btn-seach-ul" onclick="search_function()">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="search-box">
            <input class="search-input" type="text" placeholder="Esta procurando o que?">
            <button class="btn-seach" onclick="search_function()">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="user-login">

            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">

                <i class="fas fa-user-circle fa-2xl"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_superuser %}
                <li><a class="dropdown-item nav-item" href="#">Admin</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% endif %}

                <li><a class="dropdown-item nav-item" href="{% url 'account_logout' %}">Sair</a></li>
            </ul>
            {% else %}
            <a href="{% url 'account_login' %}" class="nav-link nav-item">
                <i class="fas fa-user-circle fa-2xl"></i>
                <span>Entrar</span>
            </a>
            {% endif %}
        </div>
    </nav>
</header>