{% extends 'pages/base.html' %}
{% load static %}

{% load place_tags %}


<!-- block head-->
{% block style %}
<link rel="stylesheet" href="{% static 'css/header.css'%}">
<link rel="stylesheet" href="{% static '/places/css/placeDetail.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css'%}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style-btp.css'%}">

{% endblock style%}

{% block title%}
Lugares Para Visitar
{% endblock title %}

{% block navbar%}
{% include 'components/header.html' %}
{% endblock navbar%}


{% block content %}

<main class="main-detail">
    <section class="sec-place-detail">
        <div class="place-title-name-h1">
            <h1>{{place.name}}</h1>
        </div>
        <div class="place-detail-img" style="background-image: url('{{place.banner.url}}');">
        </div>
        <section class="main-place-description">

            <article class="description-place">

                <div class="content-description">
                    <p>{{place.description}}</p>

                </div>

            </article>
            <nav class="right-infos">
                <section class="infos-place">
                    <br>
                    <h3 class="text-center">Informações</h3>
                    <p>
                        <span>Endereço:</span><br>
                        &nbsp;&nbsp;<i class="fa-solid fa-location-dot"></i>&nbsp;
                        {% if place.address_url %}
                        <a href="{{place.address_url}}">{{place.address_name}}</a>
                        {% else %}
                        <span> Não Informado</span>
                        {% endif %}
                    </p>
                    <p>
                        <span>Telefone:</span><br>
                        &nbsp;&nbsp;<i class="fa-solid fa-phone-volume"></i>&nbsp;
                        {% if place.phone %}
                        <span>{{place.phone}}</span>
                        {% else %}
                        <span> Não Informado</span>
                        {% endif %}
                    </p>
                    <p>
                        <span>Website:</span><br>
                        &nbsp;&nbsp;<i class="fa-brands fa-internet-explorer"></i>&nbsp;
                        {% if place.website %}
                        <a href="{{place.website}}">{{place.name}}</a>
                        {% else %}
                        <span> Não Informado</span>
                        {% endif %}
                    </p>
                    <p>
                        <span>Email de Contato:</span><br>
                        &nbsp;&nbsp;<i class="fa-solid fa-at"></i>&nbsp;
                        {% if place.email %}
                        <a type="email" href="{{place.email}}">{{place.email}}</a>
                        {% else %}
                        <span> Não Informado</span>
                        {% endif %}
                    </p>

                </section>
                <div class="line-black"></div>
                <section class="infos-event-place">
                    <h3>Eventos</h3>
                    Em desenvolvimento
                </section>
            </nav>
        </section>
    </section>

    <section class="gallery min-vh-100">
        <div class="container-lg" style="max-width: 1024px;">
            <h2 class="text-center">Galeria de fotos</h2>
            {% for place in places%}
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col">
                    <img src="{{place.banner.url}}" class="gallery-item" alt="gallery">
                </div>

            </div>
            {% endfor %}
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col">
                    <img src="{{place.banner.url}}" class="gallery-item" alt="gallery">
                </div>

            </div>
        </div>
    </section>
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="img/1.jpg" class="modal-img" alt="modal img">
                </div>
            </div>
        </div>
    </div>

    <section class="sec-comments-detail">

        comentarios

    </section>
</main>





{% endblock content%}

{% block footer%}
{% include 'components/footer.html' %}
{% endblock footer%}

{% block scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}