{% extends 'base.html' %}

{% load static %}
{% load place_tags %}

{% block title %}

{{place.name}}

{% endblock title %}

{% block content %}


<div class="container col-10 cont-detail">

    <div class="row">
        <h2 class="text-center">{{place.name}}</h2>
        {% if place.image %}
        <img src="{{ place.image.url }}" class="img-fluid " alt="...">
        {% else %}
        <img src="{% static 'images/no_image1920x1080.png' %}" class="img-fluid " alt="...">
        {% endif %}
    </div>
    <div class="row text-description-detail">

        <div class="col-8 text-infos-detail">
            <h5 class="text-center">Descrição</h5>
            <p>{{place.description}}</p>
        </div>

        <div class="col-4 cont-infos-detail">
            <ul>
                <li>
                    <a href="#">Como chegar</a>
                </li>
                <li>
                    {% if place.telephone %}
                    <p>{{place.telephone}}</p>
                    {%else%}
                    <p>Não informado</p>
                    {% endif %}
                </li>
                <li>
                    {% if place.site %}
                    <p>{{place.site}}</p>
                    {%else%}
                    <p>Não informado</p>
                    {% endif %}
                </li>
                <li>
                    <p>Nota: 9</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include 'gallery/gallery.html' %}
{% include 'comments/comment_list.html' %}

{% endblock content %}