{% extends 'base.html' %}

{% load static %}

{% load place_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static '/places/css/categorias.css' %}">
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }}

{% else %}
Pontos Turísticos
{% endif %}
{% endblock title %}

{% block content %}


<div class="container my-3">

    <div class="row">
        <div class="col-lg-3 cont-list-categoria">
            <div class=" mb-3 mb-lg-0 list-group-item">
                <h5 class="text-center">
                    Ordenar por:
                </h5>

                <select class="col-12 list-group-item-selections">
                    <option value="Mais recentes">...</option>
                    <option value="Mais recentes">Mais recentes</option>
                    <option value="volvo">Mais Antigo</option>
                    <option value="saab">Mais Visitado</option>
                    <option value="fiat">Mais Avaliado</option>
                    <option value="audi">Menos Avaliado</option>
                </select>
                <br>
                <hr>
            </div>

            <ul class="mb-3 mb-lg-0 cont-categorias-list">

                <a class="text-decoration-none list-group-item list-group-item-light {% if not category %}active{% endif %}"
                    href="{% url 'places:list' %}">
                    Todas as Categorias
                </a>

                {% for cat in categories %}
                <a class="text-decoration-none list-group-item list-group-item-light {% if category == cat %}active{% endif %}"
                    href="{{ cat.get_absolute_url }}">
                    {{ cat.name }}
                </a>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9 cont-list-categoria">
            {% for spot in place_list %}
            <div class="card mb-3 cont-card-geral">
                <a href="{{ spot.get_absolute_url }}" class="next-page" style="text-decoration:none;color:black;">
                    <div class="row g-0">
                        <div class="col-md-4 row g-0">
                            {% if spot.image %}
                            <img src="{{spot.image.url}}" class="img-fluid rounded-start" alt="{{spot.name}}">
                            {% else %}
                            <img src="{% static 'images/no_image400x300.png' %}" class="img-fluid rounded-start"
                                alt="{{spot.name}}">
                            {% endif %}
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body cont-card-lits">
                                <h5 class="card-title">{{spot.name}}</h5>
                                <p class="card-text">{{spot.description | slice:"0:200"}} ...</p>
                                <div class="cont-card-avaliacao">

                                    <p class="card-text"><small class="text-muted">{{spot.name}}</small></p>
                                    {%for item in spot.get_rating%}
                                    {% if forloop.first %}
                                    {% if item == 0 %}
                                    <small class="text-muted">Quantidade de Avaliação: 0</small>
                                    {% else %}
                                    <p class="card-text">
                                        <small class="text-muted">Quantidade de Avaliaçõe: {{item}}</small>
                                    </p>
                                    {% endif %}
                                    {%endif %}

                                    {% if forloop.last %}
                                    <p class="card-text">
                                        <small class="text-muted">Avaliação: {{item}}</small>
                                    </p>
                                    {%endif %}

                                    {%endfor%}
                                </div>
                            </div>

                        </div>
                    </div>
                </a>

            </div>

            {% endfor %}

            {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
            {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock content %}